package ${packageName}.entity;

import java.util.Date;
import java.math.BigDecimal;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.Id;
import javax.persistence.Table;
import org.hibernate.annotations.DynamicInsert;
import org.hibernate.annotations.DynamicUpdate;
/**
 * @author ${author}
 * @since 1.0
 */
@Entity
@Table(name = "${table.tableName}")
@DynamicInsert(true)
@DynamicUpdate(true) //作用是只更新你修改的那个几个字段, 可以看到update的sql, 只更新部分字段, 可以提高效率
public class ${table.className}Entity {

#foreach($p in $table.columnList)
    #if($p.columnComment)/** ${p.columnComment} */#end##

#if($p.primaryKey == true)
    @Id
#if($p.autoIncrement == true)
    @GeneratedValue
#else
    @GeneratedValue(generator = "system-uuid")
#end
    @Column(name = "${p.columnName.replace("-", "_")}")
    private ${p.columnType} ${p.propertyName};

#else
    @Column(name = "${p.columnName.replace("-", "_")}")
    private ${p.columnType} ${p.propertyName};

#end
#end

#foreach($p in $table.columnList)
    public ${p.columnType} ${p.propertyGetMethodName}() {
        return ${p.propertyName};
    }

    public void ${p.propertySetMethodName}(${p.columnType} ${p.propertyName}) {
        this.${p.propertyName} = ${p.propertyName};
    }
#end
}