package ${packageName}.repository;

import org.springframework.stereotype.Repository;

/**
* ${table.className}Repository对象
* @author ${author}
* @since 1.0
*/
@Repository
public class ${table.className}Repository extends CommonRepository {

}
